@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../../Roboto/Roboto-Regular.ttf');
}

$colorDefault: #00695C;

@mixin flexbox($flex-direction) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: center;
    align-items: center;
}

.painel {
    width: 100%;
    height: 25vh;
    background-color: $colorDefault;
    margin: 3rem 0;
    @include flexbox(row);
    
}

.info {
    @include flexbox(row);
}
.info p{
    color: #fff;
    font-family: 'Roboto-Regular';
    text-align: center;
    padding: 5rem;
}

span {
    font-size: 4rem;
}