@font-face {
    font-family: 'Roboto-Bold';
    src: url('../../../Roboto/Roboto-Bold.ttf');
}

$colorDefault: #00695C;
.sobre-geral {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.title-sobre {
    text-align: center;
    color: $colorDefault;
    font-size: 1.5rem;
    padding: 2rem 0;
    font-family: 'Roboto-Bold';

}
.bloco-sobre {
    display: flex;
    flex-direction: row;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-nos {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items:baseline;
    flex-direction: column;
     
    
}
.sobre-nos p{
    color: #323338;
    font-size: 1.5rem;
    margin-left: 20%;
}
.imagem-sobre {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}