@font-face {
    font-family: 'Roboto-Bold';
    src: url('../../../Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../../Roboto/Roboto-Regular.ttf');
}
$colorDefault: #00695C;
.bloco-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 2rem 0;
    
}

.sub-div1 {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}


.sub-div1 h2 {
    font-family: 'Roboto-Bold';
    color: $colorDefault;
    font-size: 2.5rem;
    margin: 1rem 0;
}

.sub-div2 {
    width: 30%;
     
}
.carrossel-geral {
    width: 20%;
}
.carrossel-text {
    background-color: #E6E9F2;
    padding: 2rem;
    border-radius: 8px;
}
.carrossel-text h1 {
    color: $colorDefault;
    font-family: 'Roboto-Bold';
    font-size:2rem;
    margin: 1rem 0;
}
.carrossel-text h3 {
    color: #000;
    font-family: 'Roboto-Bold';
}
.carrossel-text p {
    font-family: 'Roboto-Regular';
}

.btn-carrossel {
    background-color: $colorDefault;
    font-family: 'Roboto-Regular';
    color: #fff;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    margin: 1rem 0;
    border-radius: 8px;

}

.sub-div2{
     width: 45%;
}

 
.sub-div2 h2{
    font-size: 2rem;
    font-family: 'Roboto-Bold';
    color: $colorDefault;
    margin: 1rem 0;
}

.sub-div2  form input {
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    position: relative;
 
    
}
.submit-lente svg{
     width: 40px;
     position: absolute; 
     top: 32%; 
     right: 6%;
     cursor: pointer;
}

.info-iniciativas h2 {
    font-family: 'Roboto-Bold';
    

}

.info-iniciativas h4, p{
    font-family: 'Roboto-Regular';
    margin: 1rem;
}
.sessao-1 {
    display: flex;
    flex-direction: row;
}

.sub-div2 ul {
    list-style: none;
    text-align: center;
}
.lista2{
    display: none;
}
 
@media screen and (min-width: 393px) and (max-width: 851px){ 
    .bloco-container {
        display: flex;
        flex-direction: column;
    }
    .sub-div1{
        width: 100%;
        margin: 0 2rem;
    }
    .mobile {
        width: 100%;
        margin: 3rem;
    }

    .sub-div2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        padding: 3rem;
         
    }

    .sub-div2 ul {
        list-style: none;
    }

    .info-iniciativas h2 {
        font-family: 'Roboto-Bold';
        

    }

    .info-iniciativas h4, p{
        font-family: 'Roboto-Regular';
        margin: 1rem;
    }


    .sessao-1 {
        display: flex;
        flex-direction: column;
    }
    .sessao-1 img {
        width: 100%;
        margin: 1rem 0;
    }
    .lista{
        display: none;
       
    }
    .info-iniciativas img {
        width: 60%;
    }

    .submit-lente {
        display: flex;
        flex-direction: row;
    }
    .submit-lente svg{
        width: 40px;
        position: absolute; 
        top: 1300px; 
        right: 10%;
        cursor: pointer;
   }
}