@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../../Roboto/Roboto-Regular.ttf');
}

$colorDefault: #00695C;

.infos-gerais {
    width: 100%;
    background-color: transparent;
    margin: 5rem 0;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $colorDefault;
    border-radius: 80px;
    height: 25vh;
    width: 70%;
    margin: auto;
}

.dados {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}

.info-1, .info-2, .info-3 {
    width: 30%;
    color: #fff;
    margin: 0 4rem;
   
}
.info-1 h3 {
    font-size: 3.5rem;
    font-family: 'Roboto-Regular';
}

.info-1 p {
    font-size: 2rem;
    text-align: center;
    font-family: 'Roboto-Regular';
}

.info-2 h3 {
    font-size: 3.5rem;
    font-family: 'Roboto-Regular';
}

.info-2 p {
    font-size: 2rem;
    text-align: center;
    font-family: 'Roboto-Regular';
}

.info-3 h3 {
    font-size: 3.5rem;
    font-family: 'Roboto-Regular';
}

.info-3 p {
    font-size: 2rem;
    text-align: center;
    font-family: 'Roboto-Regular';
}

@media screen and (min-width: 393px) and (max-width: 851px){ 
    .infos-gerais {
       display: none;
    }
    
}