@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@300;400;500;700&display=swap');

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../../../Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../../Roboto/Roboto-Regular.ttf');
}
$colorDefault: #00695C;
@mixin flexbox($flex-direction, $justify-content, $align-items){
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin button($color, $background){
    color: $color;
    background-color: $background;
}

.geral-cadastro {
    @include flexbox(row, space-between, center);
    width: 100%;
}

.bloco-cadastro {
    width: 30%;
}
.setores {
    
    @include flexbox(column, center, center)
}
.bloco-inst {
    width: 70%;
}

.back {
   position: absolute;
   top: 3rem;
   left: 40%;
   color: $colorDefault;
   font-family: 'Roboto-Regular';
   font-size: 1.2rem;
}

.back:hover {
    color: $colorDefault;
}


.setores h1 {
    font-family: 'Roboto-Bold';
    color: $colorDefault;
    font-size: 2rem;
}

.setores button {
    @include button(#fff, $colorDefault);
    width: 30%;
    padding: 1rem;
    border-radius: 8px;
    border:none;
    font-size: 2rem;
    margin: 1rem 0;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.inst-2 a {
    color: #fff;
}